<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drowsy Driver App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="video-container">
        <h1>Video Stream predictions</h1>
        <img src="" alt="Processed Stream">
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
